Repository breaddog/personal-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

tweak: package.json
  package.json
Due: none

fix: module bug
  src/pages/Portfolio/Sections/Old/ManagerOld/index.tsx
  src/pages/Portfolio/Sections/index.ts
Due: prettier --write, eslint, eslint --fix

tweak: cleanup, rewire web3
  package.json
  src/App.tsx
  src/ethereum/utils.ts
  src/pages/Loading/index.tsx
  src/pages/Portfolio/Sections/Web3/FAQ.tsx
  src/pages/Portfolio/index.tsx
  src/pages/Projects/Components/MultiImageContainer/index.tsx
  src/pages/Projects/ProjectContent/Adot/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/index.tsx
  src/pages/Projects/ProjectContent/DRP/index.tsx
  src/pages/Projects/ProjectContent/DefaultProject/index.tsx
  src/pages/Projects/ProjectContent/ERC20Project/index.tsx
  src/pages/Projects/ProjectContent/ERC721Project/index.tsx
  src/pages/Projects/ProjectContent/Layers/content.tsx
  src/pages/Projects/ProjectContent/Layers/index.tsx
  src/pages/Projects/ProjectContent/RedVillage/index.tsx
  src/pages/Projects/index.tsx
  src/shared/components/CircleIcon/index.tsx
  src/shared/components/GenericHeader/index.tsx
  src/shared/components/OnClickAnimation/index.tsx
Due: prettier --write, eslint, eslint --fix

tweak: project articles
  src/App.tsx
  src/data/projects/index.tsx
  src/pages/Projects/ProjectContent/ERC721Project/index.tsx
  src/pages/Projects/ProjectContent/Layers/content.tsx
  src/pages/Projects/ProjectContent/RedVillage/content.tsx
Due: prettier --write, eslint, eslint --fix

tweak: aos timings
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/pages/Portfolio/Sections/Journey/index.tsx
  src/pages/Portfolio/Sections/Web3/index.tsx
Due: prettier --write, eslint, eslint --fix

tweak: prod
  src/pages/Loading/index.tsx
Due: prettier --write, eslint, eslint --fix

chore: gh-page homepage + adaptation on dev
  package.json
  public/index.html
  src/App.tsx
Due: prettier --write, eslint, eslint --fix

tweak: minor ehaviour changes
  src/pages/Portfolio/index.tsx
Due: prettier --write, eslint, eslint --fix

chore: github actions gh-pages deploy on push
  .github/workflows/main.yml
Due: none

chore: clean up
  src/App.tsx
Due: prettier --write, eslint, eslint --fix

fix: actions yaml
  .github/workflows/main.yml
Due: none

Updates
  asset-manifest.json
  index.html
  static/js/main.901d6eae.js
  static/js/main.901d6eae.js.LICENSE.txt
  static/js/main.c4767baa.js
Due: prettier --write

fix: actions yaml dependencies
  .github/workflows/main.yml
Due: none

fix: actions yaml formatting
  .github/workflows/main.yml
Due: none

tweak: eslint
  .eslintrc.json
Due: none

chore: fix linting and cleanups
  .eslintrc.json
  .github/workflows/main.yml
  .lintstagedrc
  src/pages/CSSHeader/index.tsx
Due: prettier --write, eslint, eslint --fix

chore: standardise formatting
  .gitattributes
Due: none

fix: actions credentials
  .github/workflows/main.yml
Due: none

fix: actions yaml credentials
  .github/workflows/main.yml
Due: none

tweak: simplified web3 stuff
  src/contracts/Query/index.tsx
  src/contracts/index.tsx
  src/requests/ContractRequest.tsx
  src/requests/ERC1155Request/index.tsx
  src/requests/ERC721Request/index.tsx
Due: prettier --write, eslint, eslint --fix

tweak: main site tweaks
  src/data/jobs/index.tsx
  src/pages/Loading/Loading.module.scss
  src/pages/Loading/index.tsx
  src/pages/Portfolio/Sections/Developer/Developer.module.scss
  src/pages/Portfolio/Sections/Highlights/HighlightsFrame.module.scss
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/JobInfo.module.scss
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/pages/Portfolio/Sections/Web3/Web3.module.scss
  src/pages/Portfolio/Sections/Web3/index.tsx
  src/shared/components/CollapisbleFAQ/CollapsibleFAQ.module.scss
  src/shared/components/CollapisbleFAQ/index.tsx
  src/shared/components/Sections/SectionSubHeader/SectionSubHeader.module.scss
Due: prettier --write, eslint, eslint --fix

tweaks: project section css, DRP layout
  public/images/projects/drp/drp-koan.jpg
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Projects/Components/LeftRight/LeftRight.module.scss
  src/pages/Projects/Components/Text/Text.module.scss
  src/pages/Projects/Components/TopDown/TopDown.module.scss
  src/pages/Projects/Project.module.scss
  src/pages/Projects/ProjectContent/DRP/index.tsx
Due: prettier --write, eslint, eslint --fix

tweak: project page formatting
  src/pages/Projects/Components/Text/Text.module.scss
  src/pages/Projects/Project.module.scss
  src/pages/Projects/ProjectContent/Adot/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/content.tsx
  src/pages/Projects/ProjectContent/ArtBall/index.tsx
  src/pages/Projects/ProjectContent/BinKingz/index.tsx
  src/pages/Projects/ProjectContent/DRP/index.tsx
  src/pages/Projects/ProjectContent/Layers/content.tsx
  src/pages/Projects/ProjectContent/RedVillage/content.tsx
  src/pages/Projects/ProjectContent/RedVillage/index.tsx
  src/pages/Projects/index.tsx
  src/shared/components/Hyperlink/index.tsx
Due: prettier --write, eslint, eslint --fix

tweaks: sections, header related stuff, nav
  package.json
  src/App.tsx
  src/pages/Loading/index.tsx
  src/pages/Portfolio/Sections/Contacts/index.tsx
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Portfolio/Sections/Journey/index.tsx
  src/pages/Portfolio/Sections/Landing/index.tsx
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/pages/Portfolio/Sections/Web3/index.tsx
  src/pages/Portfolio/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/content.tsx
  src/pages/Projects/ProjectContent/BinKingz/index.tsx
  src/pages/Projects/ProjectContent/DRP/index.tsx
  src/pages/Projects/index.tsx
  src/routes/index.tsx
  src/shared/components/GenericHeader/GenericHeader.module.scss
  src/shared/components/GenericHeader/index.tsx
  src/shared/functions.tsx
  src/shared/interfaces/Sections/index.tsx
  src/shared/sections/portfolio/index.tsx
  src/shared/types/nav/index.ts
  src/store/portfolio/action.types.ts
  src/store/portfolio/reducer.ts
  yarn.lock
Due: prettier --write, eslint, eslint --fix

tweak: font, jobinfo component improvement
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/JobInfo.module.scss
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/index.tsx
  src/styles/__mixins.scss
Due: prettier --write, eslint, eslint --fix

tweak: minor css touchups
  src/App.tsx
  src/pages/Loading/Loading.module.scss
  src/pages/Portfolio/Sections/Developer/Developer.module.scss
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/JobInfo.module.scss
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/pages/Portfolio/Sections/Web3/Web3.module.scss
  src/pages/Portfolio/Sections/Web3/index.tsx
  src/pages/Portfolio/index.tsx
  src/pages/Projects/index.tsx
  src/shared/components/GenericHeader/GenericHeader.module.scss
  src/shared/components/Window/Window.module.scss
Due: prettier --write, eslint, eslint --fix

Updates
  asset-manifest.json
  images/projects/drp/drp-koan.jpg
  index.html
  static/css/main.002070c9.css
  static/css/main.bc3ff32b.css
  static/js/main.0c76466f.js
  static/js/main.4520d7ef.js
  static/js/main.4520d7ef.js.LICENSE.txt
Due: prettier --write

tweak: iron out section bugs
  src/ethereum/components/WalletConnectModal/index.tsx
  src/pages/Portfolio/Sections/Developer/Developer.module.scss
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/pages/Portfolio/index.tsx
  src/pages/Projects/Components/MultiImageContainer/MultiImageContainer.module.scss
  src/pages/Projects/Components/TopDown/TopDown.module.scss
  src/pages/Projects/Components/TopDown/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/content.tsx
  src/pages/Projects/index.tsx
  src/shared/functions.tsx
Due: prettier --write, eslint, eslint --fix

tweak: minor issue
  src/shared/functions.tsx
Due: prettier --write, eslint, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.002070c9.css
  static/css/main.3f838591.css
  static/js/main.4520d7ef.js
  static/js/main.9b16e10f.js
  static/js/main.9b16e10f.js.LICENSE.txt
Due: prettier --write

fix: homepage
  package.json
Due: none

fix: image pathing
  src/data/jobs/index.tsx
  src/pages/Projects/ProjectContent/Adot/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/content.tsx
  src/pages/Projects/ProjectContent/BinKingz/index.tsx
  src/pages/Projects/ProjectContent/DRP/index.tsx
  src/pages/Projects/ProjectContent/Layers/content.tsx
  src/pages/Projects/ProjectContent/RedVillage/content.tsx
  src/shared/constants.tsx
Due: prettier --write, eslint, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.16611f05.js
  static/js/main.16611f05.js.LICENSE.txt
  static/js/main.9b16e10f.js
Due: prettier --write

chore: switch resume
  public/documents/resume.pdf
Due: none

Updates
  documents/resume.pdf
Due: none

fix: image path + env
  src/config/env.ts
  src/data/jobs/index.tsx
  src/data/projects/index.tsx
  src/pages/Projects/ProjectContent/Adot/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/content.tsx
  src/pages/Projects/ProjectContent/BinKingz/index.tsx
  src/pages/Projects/ProjectContent/DRP/index.tsx
  src/pages/Projects/ProjectContent/Layers/content.tsx
  src/pages/Projects/ProjectContent/RedVillage/content.tsx
  src/shared/constants.tsx
Due: prettier --write, eslint, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.16611f05.js
  static/js/main.60b9d920.js
  static/js/main.60b9d920.js.LICENSE.txt
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.html)) or (any of: *.scss)) or (any of: *.css)
  eslint: (any of: *.ts) or (any of: *.tsx)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
