Repository breaddog/personal-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove web3 references from project pages
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/index.tsx
  src/pages/Projects/ProjectContent/ERC20Project/index.tsx
  src/pages/Projects/ProjectContent/ERC721Project/index.tsx
  src/pages/Projects/ProjectContent/Layers/index.tsx
  src/pages/Projects/ProjectContent/RedVillage/index.tsx
Due: prettier --write, eslint --fix

chore: remove all web3 related packages and dependencies
  package.json
  src/App.tsx
  src/data/projects/index.tsx
  src/ethereum/coinbase.ts
  src/ethereum/components/Option/Option.module.scss
  src/ethereum/components/Option/index.tsx
  src/ethereum/components/WalletConnectButton/WalletConnectButton.module.scss
  src/ethereum/components/WalletConnectButton/index.tsx
  src/ethereum/components/WalletConnectModal/WalletConnectModal.module.scss
  src/ethereum/components/WalletConnectModal/index.tsx
  src/ethereum/components/Web3ContextProvider/index.tsx
  src/ethereum/components/index.tsx
  src/ethereum/connectors.ts
  src/ethereum/constants.ts
  src/ethereum/index.tsx
  src/ethereum/metamask.ts
  src/ethereum/network.ts
  src/ethereum/utils.ts
  src/ethereum/wallet-connect.ts
  src/index.tsx
  src/pages/Portfolio/Sections/Web3/FAQ.tsx
  src/pages/Portfolio/Sections/Web3/Web3.module.scss
  src/pages/Portfolio/Sections/Web3/index.tsx
  src/pages/Portfolio/Sections/index.ts
  src/pages/Portfolio/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/index.tsx
  src/pages/Projects/ProjectContent/ERC20Project/index.tsx
  src/pages/Projects/ProjectContent/ERC721Project/index.tsx
  src/pages/Projects/ProjectContent/Layers/index.tsx
  src/pages/Projects/ProjectContent/RedVillage/index.tsx
  src/requests/BaseRequest.tsx
  src/requests/ContractRequest.tsx
  src/requests/ERC1155Request/index.tsx
  src/requests/ERC20Request/index.tsx
  src/requests/ERC721Request/index.tsx
  src/requests/index.tsx
  src/shared/components/GenericHeader/index.tsx
  src/shared/sections/portfolio/index.tsx
  src/store/portfolio/reducer.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: remove @ethersproject packages
  package.json
  src/ethereum/utils.ts
  src/react-app-env.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: updated readdme
  README.md
Due: none

chore: remove webvitals
  src/index.tsx
  src/reportWebVitals.ts
Due: prettier --write, eslint --fix

chore: lodash dependency update
  package.json
  yarn.lock
Due: none

chore: update react-router-dom
  package.json
  yarn.lock
Due: none

chore: replace react-scripts with vite
  index.html
  package.json
  public/index.html
  tsconfig.json
  vite-env.d.ts
  vite.config.js
  yarn.lock
Due: prettier --write, eslint --fix

chore: update sass syntax from @import to @use
  src/pages/Portfolio/Sections/Contacts/Contacts.module.scss
  src/pages/Portfolio/Sections/Developer/Developer.module.scss
  src/pages/Portfolio/Sections/Highlights/Highlights.module.scss
  src/pages/Portfolio/Sections/Journey/Journey.module.scss
  src/pages/Portfolio/Sections/Landing/Landing.module.scss
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Portfolio/Sections/Old/ManagerOld/Manager.module.scss
Due: prettier --write

chore: rename REACT_APP to VITE
  .github/workflows/main.yml
  src/config/env.ts
  template.env
  tsconfig.json
Due: prettier --write, eslint --fix

chore: change process.env to import.meta
  src/config/env.ts
Due: prettier --write, eslint --fix

chore: update eslint
  package.json
  yarn.lock
Due: none

chore: some package tweaks
  package.json
  yarn.lock
Due: none

chore: add converted eslint file
  eslint.config.mjs
Due: none

chore: bump node version
  .github/workflows/main.yml
Due: none

chore: update babel eslint-parser
  package.json
  yarn.lock
Due: none

fix: build output in deploy
  .gitignore
  package.json
Due: none

chore: ajv dependency update
  package.json
  yarn.lock
Due: none

chore: attempt fix with artifact upload
  .github/workflows/main.yml
Due: none

chore: tweak deploy build
  package.json
  public/CNAME
Due: none

chore: attempt fix
  .github/workflows/main.yml
Due: none

Path conditions:
  prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.html)) or (any of: *.scss)) or (any of: *.css)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
