Repository breaddog/personal-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: readme tweak
  README.md
Due: none

tweak: change web3 mobile behaviour
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/css/main.4180caae.css
  static/css/main.64a055d5.css
Due: prettier --write

chore: tweak readme
  README.md
Due: none

tweak: section mobile behaviour
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.64a055d5.css
  static/css/main.ebdffa9c.css
  static/js/main.73238441.js
  static/js/main.e971c3f3.js
  static/js/main.e971c3f3.js.LICENSE.txt
Due: prettier --write

tweak: wording, minor css changes
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/pages/Portfolio/Sections/Web3/Web3.module.scss
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.b03cab89.css
  static/css/main.ebdffa9c.css
  static/js/main.8e482535.js
  static/js/main.8e482535.js.LICENSE.txt
  static/js/main.e971c3f3.js
Due: prettier --write

tweak: readme, meta tag
  README.md
  public/index.html
Due: prettier --write

Updates
  index.html
Due: prettier --write

tweak: minor text changes
  README.md
  src/pages/Portfolio/Sections/Developer/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.8e482535.js
  static/js/main.9cd15626.js
  static/js/main.9cd15626.js.LICENSE.txt
Due: prettier --write

tweak: minor text change
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.9cd15626.js
  static/js/main.c73eca70.js
  static/js/main.c73eca70.js.LICENSE.txt
Due: prettier --write

tweak: improve ux developer section, minor tweaks
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/shared/components/Hyperlink/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.30c8b52c.js
  static/js/main.30c8b52c.js.LICENSE.txt
  static/js/main.c73eca70.js
Due: prettier --write

feat: integrate suggestions for landing section
  src/ethereum/components/WalletConnectModal/index.tsx
  src/pages/Loading/index.tsx
  src/pages/Portfolio/Sections/Contacts/Components/ContactInfo/index.tsx
  src/pages/Portfolio/Sections/Landing/Landing.module.scss
  src/pages/Portfolio/Sections/Landing/index.tsx
  src/shared/components/CircularText/helpers.tsx
  src/shared/components/CircularText/index.tsx
  src/shared/components/GenericHeader/index.tsx
Due: prettier --write, eslint --fix

feat: add improvements to development page
  src/assets/logos/github-white.svg
  src/pages/Portfolio/Sections/Developer/Developer.module.scss
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/pages/Portfolio/Sections/Developer/orbitItems.ts
Due: prettier --write, eslint --fix

fix: orientation switch bug
  src/App.tsx
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/shared/types/app/index.tsx
  src/shared/types/index.tsx
Due: prettier --write, eslint --fix

fix: portfolio site return scroll issue, experimental history routing
  package.json
  src/App.tsx
  src/config/env.ts
  src/data/jobs/index.tsx
  src/ethereum/connectors.ts
  src/index.scss
  src/pages/Loading/index.tsx
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/pages/Portfolio/index.tsx
  src/pages/index.ts
  src/router/index.tsx
  src/router/router.tsx
  src/shared/functions.tsx
  yarn.lock
Due: prettier --write, eslint --fix

tweak: dev section bolding
  src/pages/Portfolio/Sections/Developer/index.tsx
Due: prettier --write, eslint --fix

feat: improve manager section, cta, etc...
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/shared/components/ProgressBar/ProgressBar.module.scss
  src/shared/components/ProgressBar/index.tsx
  src/shared/components/Sections/SectionHeader/SectionHeader.module.scss
  src/shared/components/index.ts
  src/shared/sections/portfolio/index.tsx
Due: prettier --write, eslint --fix

tweak: css
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
Due: prettier --write

feat: tweak web3 section, improve faq and text
  src/pages/Portfolio/Sections/Web3/FAQ.tsx
  src/pages/Portfolio/Sections/Web3/index.tsx
  src/shared/components/CollapisbleFAQ/CollapsibleFAQ.module.scss
  src/shared/components/CollapisbleFAQ/index.tsx
Due: prettier --write, eslint --fix

tweak: css
  src/pages/Portfolio/Sections/Web3/Web3.module.scss
Due: prettier --write

feat: improve journey section
  src/data/jobs/index.tsx
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/JobInfo.module.scss
  src/shared/components/Sections/SectionSubHeader/SectionSubHeader.module.scss
Due: prettier --write, eslint --fix

minor tweaks: highlights and project pages
  src/data/projects/index.tsx
  src/pages/Portfolio/Sections/Highlights/HighlightsCarousel.scss
  src/pages/Portfolio/Sections/Landing/index.tsx
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/pages/Portfolio/index.tsx
Due: prettier --write, eslint --fix

maybe: solution to cleaner layout css
  src/pages/Portfolio/Sections/Journey/Journey.module.scss
Due: prettier --write

refine: contacts behaviour
  src/pages/Portfolio/Sections/Contacts/Contacts.module.scss
  src/pages/Portfolio/Sections/Contacts/index.tsx
  src/shared/components/MagneticBox/MagneticBox.module.scss
  src/shared/components/MagneticBox/index.tsx
Due: prettier --write, eslint --fix

feat: imporve header
  src/App.tsx
  src/shared/components/GenericHeader/GenericHeader.module.scss
  src/shared/components/GenericHeader/index.tsx
  src/shared/functions.tsx
Due: prettier --write, eslint --fix

feat: project page nav, error page refactor, header tweaks
  src/App.tsx
  src/assets/icons/broken-link.svg
  src/pages/Error/Error.module.scss
  src/pages/Error/index.tsx
  src/pages/Projects/ProjectContent/Error/Error.module.scss
  src/pages/Projects/ProjectContent/Error/index.tsx
  src/pages/Projects/index.tsx
  src/pages/index.ts
  src/router/router.tsx
  src/routes/index.tsx
  src/shared/components/Button/Button.module.scss
  src/shared/components/Button/index.tsx
  src/shared/components/GenericHeader/GenericHeader.module.scss
  src/shared/components/GenericHeader/index.tsx
  src/shared/components/MagneticBox/index.tsx
Due: prettier --write, eslint --fix

tweak: jobinfo section collapsible
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/JobInfo.module.scss
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/index.tsx
  src/pages/Portfolio/Sections/Web3/index.tsx
  src/pages/Projects/ProjectContent/Error/index.tsx
  src/shared/components/CollapsibleSection/CollapsibleFAQ.module.scss
  src/shared/components/CollapsibleSection/index.tsx
  src/shared/components/index.ts
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.081b8f5f.css
  static/css/main.b03cab89.css
  static/js/main.30c8b52c.js
  static/js/main.9a753168.js
  static/js/main.9a753168.js.LICENSE.txt
  static/media/broken-link.2f9cbd1908ceacb6aea88541182f5efb.svg
  static/media/github-white.25e018324f25f24da7216af1cdc98774.svg
  static/media/github.6fa18895f6e6c7772cab7049f7e05f59.svg
  static/media/github.f80f4a2e66655996ccdc7ab57273ce88.svg
Due: prettier --write

tweak: minor grammar
  src/pages/Portfolio/Sections/Web3/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.3509ee54.js
  static/js/main.3509ee54.js.LICENSE.txt
  static/js/main.9a753168.js
Due: prettier --write

chore: tweak
  src/pages/Loading/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.3509ee54.js
  static/js/main.708db41f.js
  static/js/main.708db41f.js.LICENSE.txt
Due: prettier --write

tweak: web3 and site improvements
  src/App.tsx
  src/pages/Projects/ProjectContent/ArtBall/index.tsx
  src/requests/ContractRequest.tsx
  src/requests/ERC1155Request/index.tsx
  src/requests/ERC20Request/index.tsx
  src/requests/ERC721Request/index.tsx
  src/router/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.6c027014.js
  static/js/main.6c027014.js.LICENSE.txt
  static/js/main.708db41f.js
Due: prettier --write

chore: reinstate old routing
  src/App.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.html)) or (any of: *.scss)) or (any of: *.css)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
