Repository breaddog/personal-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.155a6505.js
  static/js/main.155a6505.js.LICENSE.txt
  static/js/main.6c027014.js
Due: prettier --write

chore: change to hash routing
  src/App.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.155a6505.js
  static/js/main.c31a538b.js
  static/js/main.c31a538b.js.LICENSE.txt
Due: prettier --write

fix: query param, tweak loading section, scroll issues
  src/App.tsx
  src/pages/Loading/Loading.module.scss
  src/pages/Loading/index.tsx
  src/pages/Portfolio/index.tsx
  src/shared/components/GenericHeader/GenericHeader.module.scss
  src/shared/functions.tsx
Due: prettier --write, eslint --fix

tweak: comment
  src/App.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.081b8f5f.css
  static/css/main.de8a68d8.css
  static/js/main.9e48c1b5.js
  static/js/main.9e48c1b5.js.LICENSE.txt
  static/js/main.c31a538b.js
Due: prettier --write

chore: improve web3 requests
  src/data/projects/index.tsx
  src/pages/Projects/ProjectContent/ERC20Project/index.tsx
  src/pages/Projects/ProjectContent/ERC721Project/index.tsx
  src/pages/Projects/ProjectContent/Layers/index.tsx
  src/pages/Projects/ProjectContent/RedVillage/index.tsx
  src/requests/ContractRequest.tsx
  src/requests/ERC1155Request/index.tsx
  src/requests/ERC20Request/index.tsx
  src/requests/ERC721Request/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.7e63c81b.js
  static/js/main.7e63c81b.js.LICENSE.txt
  static/js/main.9e48c1b5.js
Due: prettier --write

tweak: remove loading section
  src/App.tsx
  src/config/env.ts
  src/index.tsx
  src/pages/Loading/index.tsx
  src/pages/Portfolio/index.tsx
Due: prettier --write, eslint --fix

tweak: code
  src/App.tsx
Due: prettier --write, eslint --fix

tweak: improve journey section
  src/data/jobs/index.tsx
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/JobInfo.module.scss
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/index.tsx
  src/pages/Portfolio/Sections/Web3/Web3.module.scss
  src/pages/Portfolio/Sections/Web3/index.tsx
Due: prettier --write, eslint --fix

chore: tweak
  .eslintrc.json
  src/App.tsx
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/index.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.79675d97.css
  static/css/main.de8a68d8.css
  static/js/main.09941704.js
  static/js/main.09941704.js.LICENSE.txt
  static/js/main.7e63c81b.js
Due: prettier --write

chore: update resume
  public/documents/resume.pdf
Due: none

Updates
  documents/resume.pdf
Due: none

feat: update job section
  .gitignore
  .yarnrc.yml
  package.json
  public/images/logos/pliny.jpg
  src/data/jobs/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat: remove majority web3 features from site
  .eslintrc.json
  src/pages/Portfolio/index.tsx
  src/pages/Projects/ProjectContent/ArtBall/index.tsx
  src/pages/Projects/ProjectContent/ERC20Project/index.tsx
  src/pages/Projects/ProjectContent/ERC721Project/index.tsx
  src/pages/Projects/ProjectContent/Layers/index.tsx
  src/pages/Projects/ProjectContent/RedVillage/index.tsx
  src/shared/components/GenericHeader/index.tsx
  src/shared/sections/portfolio/index.tsx
  src/store/portfolio/reducer.ts
Due: prettier --write, eslint --fix

tweak: minor change
  package.json
Due: none

tweak: deploy workflow
  .github/workflows/main.yml
Due: none

chore: update readme.md
  README.md
Due: none

chore: dangling comma
  src/App.tsx
  src/data/projects/index.tsx
  src/ethereum/components/Option/index.tsx
  src/ethereum/components/WalletConnectModal/index.tsx
  src/pages/Error/index.tsx
  src/pages/Portfolio/Sections/Contacts/index.tsx
  src/pages/Portfolio/Sections/Developer/index.tsx
  src/pages/Portfolio/Sections/Highlights/Components/HighlightsHeaderWrapper/index.tsx
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Portfolio/Sections/Journey/Components/JobInfo/index.tsx
  src/pages/Portfolio/Sections/Journey/index.tsx
  src/pages/Portfolio/Sections/Landing/index.tsx
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/pages/Portfolio/Sections/Web3/index.tsx
  src/pages/Projects/Components/LeftRight/index.tsx
  src/pages/Projects/Components/TopDown/index.tsx
  src/pages/Projects/helpers.tsx
  src/requests/ContractRequest.tsx
  src/requests/ERC20Request/index.tsx
  src/shared/components/Image/index.tsx
  src/shared/projects.tsx
  src/store/portfolio/action.ts
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  documents/resume.pdf
  images/logos/pliny.jpg
  index.html
  static/css/main.6ae83904.css
  static/css/main.79675d97.css
  static/js/27.886f7caf.chunk.js
  static/js/27.fc958009.chunk.js
  static/js/main.09941704.js
  static/js/main.98993115.js
  static/js/main.98993115.js.LICENSE.txt
Due: prettier --write

chore: update email/linkedin, package update
  package.json
  src/shared/links.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.98993115.js
  static/js/main.b8dc5c8a.js
  static/js/main.b8dc5c8a.js.LICENSE.txt
Due: prettier --write

chore: update packages, tweak code, change orbit items
  .vscode/settings.json
  package.json
  src/assets/icons/angular.svg
  src/pages/Portfolio/Sections/Developer/orbitItems.ts
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Projects/Components/Banner/index.tsx
  src/pages/Projects/Components/Image/index.tsx
  src/shared/components/Image/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: revert file tweaks except orbits
  package.json
  src/pages/Portfolio/Sections/Highlights/index.tsx
  src/pages/Projects/Components/Banner/index.tsx
  src/shared/components/Image/index.tsx
Due: prettier --write, eslint --fix

fix: build compilation errors
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: yarn issue
  .yarnrc.yml
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.6ae83904.css
  static/css/main.ef580770.css
  static/js/206.1b04fa63.chunk.js
  static/js/27.fc958009.chunk.js
  static/js/main.b8dc5c8a.js
  static/js/main.c4ef2f74.js
  static/js/main.c4ef2f74.js.LICENSE.txt
  static/media/angular.b2873f9e84e4760ff325574ec59ac9be.svg
  static/media/eth.08b2b1326247b4a1ce3a6ab6352e3aa7.svg
Due: prettier --write

chore: remove resume
  public/documents/resume.pdf
  src/pages/Portfolio/Sections/Contacts/Components/ContactInfo/ContactInfo.module.scss
  src/pages/Portfolio/Sections/Contacts/Contacts.module.scss
  src/pages/Portfolio/Sections/Contacts/index.tsx
  src/shared/links.tsx
Due: prettier --write, eslint --fix

chore: temp use traditional href
  src/pages/Projects/index.tsx
Due: prettier --write, eslint --fix

feat: add footer after how long
  src/App.module.scss
  src/pages/Error/index.tsx
  src/pages/Portfolio/Footer/Footer.module.scss
  src/pages/Portfolio/Footer/index.tsx
  src/pages/Portfolio/index.tsx
  src/pages/Projects/index.tsx
  src/shared/components/GenericFooter/GenericFooter.module.scss
  src/shared/components/GenericFooter/index.tsx
  src/shared/components/index.ts
  src/styles/__mixins.scss
Due: prettier --write, eslint --fix

chore: fix error page
  src/pages/Error/Error.module.scss
  src/pages/Error/index.tsx
  src/shared/components/GenericFooter/GenericFooter.module.scss
Due: prettier --write, eslint --fix

chore: update packages
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Revert "chore: update packages"
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore: test fix
  yarn.lock
Due: none

chore: fix yarn compilation issue with react typings
  package.json
  yarn.lock
Due: none

Updates
  asset-manifest.json
  documents/resume.pdf
  index.html
  static/css/main.adf9795f.css
  static/css/main.ef580770.css
  static/js/206.1b04fa63.chunk.js
  static/js/206.6807cdff.chunk.js
  static/js/main.8824c0e6.js
  static/js/main.8824c0e6.js.LICENSE.txt
  static/js/main.c4ef2f74.js
  static/media/resume.ea570e92a0a6761bce5ffcd17dafb483.svg
Due: prettier --write

chore: swiper dependency update
  package.json
  src/pages/Portfolio/Sections/Highlights/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.html)) or (any of: *.scss)) or (any of: *.css)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
