Repository breaddog/personal-site: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: env var
  .github/workflows/main.yml
Due: none

Updates
  asset-manifest.json
  index.html
  static/js/main.60b9d920.js
  static/js/main.9b3e1d91.js
  static/js/main.9b3e1d91.js.LICENSE.txt
Due: prettier --write

fix: document, image path
  src/shared/constants.tsx
  src/shared/links.tsx
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.1ada8fa4.js
  static/js/main.1ada8fa4.js.LICENSE.txt
  static/js/main.9b3e1d91.js
Due: prettier --write

fix: flavour text, pathing
  src/data/jobs/index.tsx
  src/pages/Loading/index.tsx
Due: prettier --write, eslint --fix

Create CNAME
  CNAME
Due: none

Updates
  CNAME
  asset-manifest.json
  index.html
  static/js/main.1ada8fa4.js
  static/js/main.d6e190c3.js
  static/js/main.d6e190c3.js.LICENSE.txt
Due: prettier --write

Update CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

chore: change homepage name
  package.json
Due: none

Updates
  CNAME
  asset-manifest.json
  index.html
  static/css/main.189256cc.css
  static/css/main.3f838591.css
  static/js/main.09ff72d4.js
  static/js/main.09ff72d4.js.LICENSE.txt
  static/js/main.d6e190c3.js
Due: prettier --write

Revert "chore: change homepage name"
  package.json
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.189256cc.css
  static/css/main.3f838591.css
  static/js/main.09ff72d4.js
  static/js/main.d6e190c3.js
  static/js/main.d6e190c3.js.LICENSE.txt
Due: prettier --write

attempt fix: loading error
  package.json
Due: none

attempt fix: page load error
  package.json
Due: none

fix: image pathing
  src/data/jobs/index.tsx
  src/shared/constants.tsx
  src/shared/links.tsx
Due: prettier --write, eslint --fix

chore: cleanup
  src/data/jobs/index.tsx
  src/shared/constants.tsx
  src/shared/links.tsx
Due: prettier --write, eslint --fix

Updates
  CNAME
  asset-manifest.json
  index.html
  static/js/main.09ff72d4.js
  static/js/main.bb666c38.js
  static/js/main.bb666c38.js.LICENSE.txt
Due: prettier --write

tweak: z-index, minor section tweak
  src/shared/components/GenericHeader/GenericHeader.module.scss
  src/shared/components/PopupModal/index.tsx
  src/shared/functions.tsx
Due: prettier --write, eslint --fix

Updates
  CNAME
  asset-manifest.json
  index.html
  static/css/main.189256cc.css
  static/css/main.fc5fc938.css
  static/js/main.3ada1ad2.js
  static/js/main.3ada1ad2.js.LICENSE.txt
  static/js/main.bb666c38.js
Due: prettier --write

tweak: minor fix
  CNAME
  package.json
  public/icons/onigiri.svg
  src/shared/functions.tsx
Due: prettier --write, eslint --fix

Updates
  CNAME
  asset-manifest.json
  icons/onigiri.svg
  index.html
  static/js/main.3ada1ad2.js
  static/js/main.b1c16090.js
  static/js/main.b1c16090.js.LICENSE.txt
Due: prettier --write

chore: readme
  README.md
Due: none

tweak: readme
  README.md
Due: none

chore: add template.env, tweaks
  src/config/env.ts
  template.env
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.b1c16090.js
  static/js/main.ca34015e.js
  static/js/main.ca34015e.js.LICENSE.txt
Due: prettier --write

tweak: mobile related css fixes
  README.md
  src/pages/Loading/index.tsx
  src/pages/Portfolio/Sections/Contacts/Components/ContactInfo/ContactInfo.module.scss
  src/pages/Portfolio/Sections/Contacts/Components/ContactInfo/index.tsx
  src/pages/Portfolio/Sections/Contacts/Contacts.module.scss
  src/pages/Portfolio/Sections/Contacts/index.tsx
  src/pages/Portfolio/Sections/ManagerNew/Manager.module.scss
  src/pages/Portfolio/Sections/ManagerNew/index.tsx
  src/pages/Portfolio/Sections/Web3/Web3.module.scss
  src/shared/components/MagneticBox/MagneticBox.module.scss
  src/shared/components/MagneticBox/index.tsx
  src/shared/components/Window/Window.module.scss
  src/styles/section.module.scss
Due: prettier --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.4180caae.css
  static/css/main.fc5fc938.css
  static/js/main.73238441.js
  static/js/main.73238441.js.LICENSE.txt
  static/js/main.ca34015e.js
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.ts) or (any of: *.tsx)) or (any of: *.html)) or (any of: *.scss)) or (any of: *.css)
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
